/* CSS Document */

footer
	{
		border-top: 1px solid #57b1dc;
		text-align: center;
		padding-top: 1em;
	}
footer img
	{
		width: 40px;
		height: 40px;
		margin-left: .5em;
		margin-right: .5em;
	}
/* Footer styling */
footer {
  margin-top: 20px;
}

/* Dates section at the bottom */
.dates {
  text-align: center;
	margin-top: 20px; }
